@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700;900&family=Roboto+Slab:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Roboto;
}

.wrapper{
  width: calc((100%/12)*4);
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  padding: 0 25px;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
}

ul li {
  list-style: none;
  padding: 15px 30px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}

a{
  text-decoration: none;
}

.bg{
  display: block;
  height: 28px;
  background: #FFDC40;
  margin: 0 -25px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 13px;
}

ul{
  margin-top: 11px;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
}

input{
  width: 100%;
  margin-right: 10px;
  outline: none;
  border: none;
}

.title{
  text-align: center;
  font-size: 26px;
}

.addBtn{
  background-color: #833AE0;
  padding: 13.5px 21px;
  outline: none;
  box-shadow: none;
  font-size: 14px;
  color: white;
  border-radius: 71px;
  border: none;
  position: relative;
  display: flex;
  align-items: center;

  margin: 18px auto;
}

button i {
  background-color: #9953F1;
  width: 42px;
  height: 42px;
  border-radius: 71px;
  margin: -13.5px -21px;
  margin-right: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.sortArrow{
  left: 93%;
  position: relative;
  padding-top: 16px;
}

.sortIcon i {
  color: #C4C4C4;
}

.crossBtn:hover{
  content: url("./images/crossPurple.png");
}

.sortDown{
  content: url("./images/downArrow.png");
}

.sortDown:hover{
  content: url("./images/downArrowBlack.png");
}

.sortUp{
  content: url("./images/upArrow.png");
}

.sortUp:hover{
  content: url("./images/upArrowBlack.png");
}